.generator-container {
    padding: 20px;
    text-align: center;

    #avatar {
        width: 295px;
        height: 295px;
        display: grid;
        grid-template-rows: 25% 20% 30% 25%;

        #hat {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column: 1;
            z-index: 2;
        }

        #color {
            grid-row-start: 2;
            grid-row-end: 3;
            z-index: 1;
            grid-column: 1;
        }

        #shirt {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column: 1;
            z-index: 2;
        }
        #pants {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column: 1;
            z-index: 2;
        }
    }

    .avatar-options-select {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .selected {
            background-color: #AE96C4;
        }
        div {
            height: 51px;
            width: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #5E2E89;
            border-radius: 12px;
        }
    }
    
    .avatar-options {
        .options {
            display: grid;
            grid-template-columns: repeat(4, 25%);
            justify-items: center;
            .option-div {
                width: 67px;
                height: 67px;
            }
        }
    }
}