.content-container {
    background: linear-gradient(180deg, #0B1F45 0%, #20093B 100%);

    .be-a-buddy-container, .why-free-mint-container, .faq-container, .meet-the-team-container {
        padding: 20px;

        .heading {
            text-align: center;
            font-family: '04b';
            font-style: normal;
            font-size: 24px;
            line-height: 120%;
            padding-bottom: 20px;
            text-transform: lowercase;
            margin-bottom: 20px;;
        }

        .subheading {
            font-family: 'Minecraftia Regular';
            line-height: 26px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
        }
    }

    .be-a-buddy-container {
        margin-bottom: 20px;

        .be-a-buddy-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: 'Minecraftia Regular';

            .be-a-buddy-column {
                text-align: center;

                img {
                    width: 100%;
                    background-size: cover;
                    margin-bottom: 10px;
                }

                .buddy1 {
                    background-image: url("./res/angelic-buddy.png");
                }

                .buddy2 {
                    background-image: url("./res/open-helm-buddy.png");
                }

                .buddy3 {
                    background-image:url("./res/cyber-buddy.png")
                }

                .buddy4 {
                    background-image: url("./res/astral-suit-buddy.png");
                }
            }
        }
    }

    .why-free-mint-container {
        margin-bottom: 20px;

        .why-free-mint-row {
            padding-bottom: 10px;
            .why-free-mint-column {
                img {
                    width: 100%;
                    background-size: cover;
                    margin-bottom: 10px;
                }

                .buddy1 {
                    background-image: url("./res/angelic-buddy.png");
                }

                .buddy2 {
                    background-image: url("./res/open-helm-buddy.png");
                }

                .buddy3 {
                    background-image:url("./res/cyber-buddy.png")
                }

                .buddy4 {
                    background-image: url("./res/astral-suit-buddy.png");
                }
                div {
                    p {
                        line-height: 175%;
                    }
                }
            }
        }
    }

    .faq-container {
        margin-bottom: 20px;

        .faq-content {
            width: 100%;

            .pixel-borders {
                width: calc(100% - 40px - 10px);
                font-family: 'Fira Code';
                color: #000;
            }

            .pixel-box--primary {
                color: #fff;
                padding: 32px;
                border-color: #1081CB;
                background-color: #06304D;
            }

            .pixel-box--primary::after {
                border-color: #1081CB;
                border-inset-color: #1081CB;
                box-shadow: inset -4px -4px #1081CB !important;
            }
        }
    }

    .meet-the-team-container {
        .meet-the-team-content {
            text-align: center;

            .meet-the-team-column { 
                img {
                    width: 100%;
                    background-size: cover;
                    margin-bottom: 10px;
                }

                .buddy1 {
                    background-image: url("./res/angelic-buddy.png");
                }

                .buddy2 {
                    background-image: url("./res/open-helm-buddy.png");
                }

                .buddy3 {
                    background-image:url("./res/cyber-buddy.png")
                }

                .buddy4 {
                    background-image: url("./res/astral-suit-buddy.png");
                }

                .name {
                    font-family: "Minecraftia Regular";
                    text-transform: uppercase;
                    letter-spacing: 0.15em;
                }

                .title {
                    margin-bottom: 40px;
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;

        .footer-links {
            display: flex;
            gap: 10px;
            width: 50%;
        }

        .footer-text {
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media screen and (min-width: 1100px) {
    .content-container {
        .why-free-mint-container {
            .why-free-mint-row {
                .why-free-mint-text {
                    width: 80% !important;
                }

                .why-free-mint-img {
                    width: 20% !important;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 400px) {
    .content-container {
        .be-a-buddy-container, .meet-the-team-container {
            padding: 2.5vw 20vw;
        }

        .why-free-mint-container {
            .why-free-mint-row {
                .why-free-mint-column {
                    margin-bottom: 40px;
                }
            }
        }

        .faq-container, .why-free-mint-container {
            padding: 2.5vw 10vw;
            
            .why-free-mint-img {
                padding: 1.25vw 5vw;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .why-free-mint-container {
        .why-free-mint-row {
            display: flex;
            margin-bottom: 20px;
            flex-direction: row;
            gap: 40px; 

            .why-free-mint-text {
                width: 60%;
            }

            .why-free-mint-img {
                width: 40%;
                padding: 0;

                img {
                    width: 100%;
                }
            }
        }

        .row2 {
            flex-direction: row-reverse;
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 1100px) {
    .content-container {
        .be-a-buddy-container, .why-free-mint-container, .faq-container, .meet-the-team-container {
            padding: 2.5vw 20vw;
            margin-bottom: 0;

            .heading {
                font-size: 32px;
            }

            .subheading {
                
            }
        }

        .be-a-buddy-container {
            .be-a-buddy-content {
                flex-direction: row;
                gap: 40px;
            }
        }

        .why-free-mint-container {
            .why-free-mint-row {
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                flex-direction: row;
                gap: 40px; 

                .why-free-mint-text {
                    width: 60%;
                }

                .why-free-mint-img {
                    width: 40%;

                    img {
                        width: 100%;
                    }
                }
            }

            .row2 {
                flex-direction: row-reverse;
                margin-bottom: 0;
            }
        }

        .meet-the-team-container {
            .meet-the-team-content {
                display: flex;
                flex-direction: row;
                gap: 40px;
                flex-wrap: wrap;
                justify-content: center;

                .meet-the-team-column {
                    width: calc(100% / 5);

                    .title {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}