.header {
    padding: 20px;
    background-color: #0A0D2F;
    height: 5vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    align-items: center;

    .header-logo {
        height: 100%;
        width: 10vw;

        img {
            height: 100%;
        }
    }

    .header-navigation {
        width: calc(100% - 10vw - 20px - 20px);
        display: flex;
        justify-content: flex-end;

        .header-button {
            color: #fff;
        }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        text-align: center;
        right: 0;
        background-color: #0A0D2F;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        padding-top: 100px;
      }

      .sidenav a {
        text-decoration: none;
        padding-bottom: 20px;
        text-transform: uppercase;
        font-size: 16px;
        color: #D4D7F4;
        letter-spacing: 0.15em;
      }
      
      .sidenav a:last-of-type {
        padding-bottom: 10px;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        margin-top: 20px;
        margin-left: 20px;
      }

      .pixel-button {
      }
}