.pixel-button {
    padding-top: 10px;
    font-family: 'Minecraftia Regular';
    text-transform: uppercase;
    background: url("./res/connect-button.png");
    background-size: 100%;
    border: none;
}